/**
 PatchSort CSS
 */

body{
    background-color:#040404;
}
textarea{
    width:50%;
    font-family: "Courier New";
    font-size: small;
}
div.body{
    padding-left: 5%;
    padding-right: 25%;
    horiz-align: center;
}
h3.first{
    color:#C11D27;
    font-size: x-large;
    font-weight: normal;
    font-family: Candara;
}
h3.second{
    color:#CE2926;
    font-size: x-large;
    font-weight: normal;
    font-family: Candara;
}
h3.third{
    color:#CF473F;
    font-size: x-large;
    font-weight: normal;
    font-family: Candara;
}
label.checkbox{
    color: #CF473F;
    font-size: medium;
    font-family: Candara;
}
input{
    background-color: #ffffff;
    color: black;
    font-family: Candara;
    font-size: small;
    border-color: #f6023f;
}
button{
    background-color: #E06349;
    color: black;
    font-family: Candara;
    font-size: x-large;
    font-weight: bold;
    border-color: #E06349;
    width: 50%;
}
div.help{
    color: white;
    font-family: Candara;
    font-size: medium;
    background-color: #040404;
}
ol{
    list-style: decimal;
}
p.status_master{
    color: #C11D27;
    font-family: "Courier New";
    font-size: small;
}
p.status_updates{
    color: #CE2926;
    font-family: "Courier New";
    font-size: small;
}
p.footnote{
    color: white;
    font-family: "Courier New";
    font-size: x-small;
}
a:link{
    color: cadetblue;
}
a:visited{
    color: cadetblue;
}