/**
 PatchSort CSS
 */

body{
    background-color:#000000;
}
textarea{
    width:100%;
    font-family: "Courier New";
    font-size: small;
}
h3{
    color:#ffffff;
    font-size: x-large;
    font-weight: normal;
    font-family: Candara;
}
label{
    color:#ffffff;
    font-size: x-large;
    font-family: Candara;
}
label.checkbox{
    color: #f6023f;;
    font-size: medium;
    font-family: Candara;
}
input{
    background-color: #ffffff;
    color: black;
    font-family: Candara;
    font-size: small;
    border-color: #f6023f;
}
button{
    background-color: #f6023f;
    color: black;
    font-family: Candara;
    font-size: x-large;
    font-weight: bold;
    border-color: #f6023f;
}
div.help{
    color: white;
    font-family: Candara;
    font-size: medium;
    background-color: black;
}
ol{
    list-style: decimal;
}
p.status{
    color: #f6023f;
    font-family: "Courier New";
    font-size: small;
}
p.footnote{
    color: white;
    font-family: "Courier New";
    font-size: x-small;
}
a:link{
    color: cadetblue;
}
a:visited{
    color: cadetblue;
}